<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Service client</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Aide et Contact</a></li>
                <li><a class="footer-link" href="#">Remboursements et retours</a></li>
                <li><a class="footer-link" href="#">Nos boutiques en ligne</a></li>
                <li><a class="footer-link" href="#"></a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Notre entreprise</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Ce que nous faisons</a></li>
                <li><a class="footer-link" href="#">Services</a></li>
                <li><a class="footer-link" href="#">Derniers posts</a></li>
                <li><a class="footer-link" href="#">Questions frequentes</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">Reseaux sociaux</h6>
              <ul class="list-unstyled mb-0">
                <li><a class="footer-link" href="#">Twitter</a></li>
                <li><a class="footer-link" href="#">Instagram</a></li>
                <li><a class="footer-link" href="#">Tumblr</a></li>
                <li><a class="footer-link" href="#">Pinterest</a></li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-6">
                <p class="small text-muted mb-0">Mai 2022 Tous Droits reserves</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Site web avec <a class="text-white reset-anchor" href="#" target="_blank"> Mehdi et Sami</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>