{% load static %}

<!-- navbar-->
      <header class="header bg-white">
        <div class="container px-0 px-lg-3">
          <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="{% url 'store:home' %}"><span class="font-weight-bold text-uppercase text-dark">Almaass</span></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <!-- Link--><a class="nav-link active" href="{% url 'store:home' %}">Accueil</a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                    {% if categories_menu %}
                      {% for cat_menu in categories_menu %}
                        <a class="dropdown-item border-0 transition-link" href="{% url 'store:category-products' cat_menu.slug %}">{{cat_menu.title}}</a>
                      {% endfor %}
                    {% endif %}
                    <hr>
                    <a class="dropdown-item border-0 transition-link" href="{% url 'store:all-categories' %}">Toutes</a>
                  </div><!--a surveiller-->
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 'store:dashboard' %}">Dashboard</a>
                </li>
                {% endif %}
              </ul>
              <ul class="navbar-nav ml-auto"> 
                {% if request.user.is_authenticated %}

                    <li class="nav-item">
                        <form hx-post="{% url 'store:search' %}" hx-target="#search-results">
                             {% csrf_token %}
                            <input class="form-control form-control-sm rounded-lg" type="search" name="keyword" placeholder="Rechercher un produit ... ">
{#                            <span class="htmx-indicator "><img src="https://htmx.org/img/bars.svg"/></span>#}
                        </form>
                    </li>


                  <li class="nav-item"><a class="nav-link" href="{% url 'store:cart' %}"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Panier<small class="text-gray">({{cart_items.count}})</small></a></li>
                  <li class="nav-item"><a class="nav-link" href="#"> <i class="far fa-heart mr-1"></i><small class="text-gray"> (0)</small></a></li>
                  {% comment %} <li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-user-alt mr-1 text-gray"></i>Mon compte </a></li> {% endcomment %}

                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-alt mr-1 text-gray"></i>Mon compte</a></a>
                  
                  <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                    
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:profile' %}">Mon profil</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:cart' %}">Panier</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:orders' %}">Commandes</a>
                      <a class="dropdown-item border-0 transition-link" href="{% url 'store:password-change' %}">Reinitialiser le mot de passe</a>

                    <hr>
                    <a class="dropdown-item border-0 transition-link" href="{% url 'store:logout' %}">Deconnexion</a>
                  </div><!-- a surveiller-->
                   </li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'store:login' %}">Connexion</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'store:register' %}">Enregistrement</a></li>
                {% endif %}   
              </ul>
            </div>
          </nav>
        </div>
      </header>

